{% include 'partials/header.html' %}

    <ul>
<div>
    <br>
      <br>
      <form method='get' action=''>
        <input type='text' name='q' placeholder='Search Name or Department..' value= '{{request.GET.q}}'/>
        <input type='submit' value='Search'/>
      </form>

      <br>
      <br>
        <br>
      {% for contact in contacts %}
      <li> <a href="/contacts/details/{{contact.id}}">{{contact.Name}}</a> Department: {{contact.Department}}</li>
      {% endfor %}

    </ul>
  </div>
{% include 'partials/footer.html' %}
